<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/components :: head(~{::title}, ~{}, ~{})">
    <title>Available Courses</title>
</head>
<body>
<div class="container">
    <header th:replace="fragments/components :: header"></header>
    <div th:replace="fragments/studentGeneral.html :: frame(~{::#text})">
        <div id="text" class=" p-3">
            <h2>Available Courses</h2>
            <div class="row">
                <form class="d-flex pb-2">
                    <div class="dropdown col-4 align-content-end">
                        <select name="sort" id="sort" class="btn btn-outline-primary dropdown-toggle">
                            <option disabled selected>Sort by</option>
                            <option value="courseNumber">Course Number</option>
                            <option value="title">Course Title</option>
                            <option value="price">Course Price</option>
                            <option value="prereq">Course Prereq</option>
                        </select>
                    </div>
                    <input class="form-control me-2" type="search" id="searchVal" placeholder="Search">
                    <button class="btn btn-outline-success col-auto" onclick="searchCourses()" type="button">Fetch Results</button>
                </form>
            </div>
            <div id="searchResults">
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready( function() {
        searchCourses();
    })
    function searchCourses() {
        console.log("in search section")
        let sortBy = $("#sort").val();
        if(sortBy == null) {
            sortBy = "courseNumber";
        }
        let url = '/api/availableCourses?sortBy=' + sortBy;
        if ($('#searchVal').val() != '') {
            url = url + "&searchVal=" + $('#searchVal').val();
        }
        $("#searchResults").load(url);
    }

        function displayCourse(courseNumber) {
        console.log("display course")
        let url = '/api/student/singleCourse/' + courseNumber;
        $("#singleCourse").load(url);
    }
</script>
</body>
</html>
