<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/components :: head(~{::title}, ~{}, ~{})">
    <title>Registration Cart</title>
</head>
<body>
<div class="container">
    <header th:replace="fragments/components :: header"></header>
    <div th:replace="fragments/studentGeneral.html :: frame(~{::#text})">
        <div id="text">
            <h2>Cart</h2>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Course Code</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Semester</th>
                    <th scope="col">Price</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item: ${cart}">
                    <td th:text="${item.section.course.courseNumber}"></td>
                    <td th:text="${item.section.course.title}"></td>
                    <td th:text="${item.section.course.description}"></td>
                    <td><span th:text="${item.section.semester}"></span> <span th:text="${item.section.year}"></span></td>
                    <td>$<span th:text="${item.section.course.price}"></span></td>
                </tr>
                <tr>
                    <td colspan="3"></td>
                    <th scope="row" class="text-right">Subtotal</th>
                    <td>$<span th:text="${total}"></span></td>
                </tr>
                </tbody>
            </table>
            <form class="d-flex w-100 justify-content-end" action="#" method="post" th:action="@{/student/checkout}">
                <button class="btn btn-secondary" type="submit">Proceed to Checkout</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>