<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head th:replace="fragments/components :: head(~{::title}, ~{}, ~{})">
        <title>Student Checkout</title>
    </head>
    <body>
        <div class="container">
            <header th:replace="fragments/components :: header"></header>
            <div th:replace="fragments/studentGeneral.html :: frame(~{::#text})">
                <div id="text">

                    <h1>Registration Confirmation</h1>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" th:each="confirm : ${confMsgs}" th:text="${confirm}"></li>
                    </ul>
                    <div class="card border-danger">
                        <h5 class="text-danger card-header">Conflicts</h5>
                        <ul class="list-group list-group-flush" th:unless="${errorMsgs.isEmpty()}">
                            <li class="list-group-item" th:each="error : ${errorMsgs}" th:text="${error}"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>