<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/components :: head(~{::title}, ~{}, ~{::script})">
    <title>Registered Courses</title>
    <script>
        $(document).ready(function(){
            let params = new URLSearchParams(location.search);
            $("#" + params.get("sortBy")).parent().addClass("table-active");

            $(":checkbox").change(function(){
                var sum = 0;
                $(":checkbox:checked").each(function(){
                    sum += parseFloat($(this).siblings("input").val())
                });
                $("#total").val(sum);
                if(sum == 0){
                    $("#totalBtn").text("Pay");
                } else {
                    $("#totalBtn").text("Pay $" + sum);
                }
            });

            $("#filter").change(function(){
                window.location = "/student/registeredCourses/" + $(this).val();
            });
        });
    </script>
</head>
<body>
<div class="container">
    <header th:replace="fragments/components :: header"></header>
    <div th:replace="fragments/studentGeneral.html :: frame(~{::#text})">
        <div id="text">
            <div class="dropdown hstack justify-content-end">
            <select name="filter" id="filter" class="btn btn-primary dropdown-toggle mb-3">
                <option disabled selected>Filter by</option>
                <option value="all">All</option>
                <option value="unpaid">Unpaid</option>
                <option value="paid">Paid</option>
                <option value="upcoming">Upcoming / In progress</option>
                <option value="past">Past</option>
            </select>
            </div>
<!--            <ul class="nav nav-tabs nav-fill">-->
<!--                <li class="nav-item"><a class="nav-link text-nowrap" href="?sortBy=courseCode" id="courseCode">Course Code</a> </li>-->
<!--                <li class="nav-item"><a class="nav-link" href="?sortBy=title" id="title">Title</a></li>-->
<!--                <li class="nav-item"><span class="nav-link">Description</span></li>-->
<!--                <li class="nav-item"><a class="nav-link" href="?sortBy=startDate" id="startDate">Semester</a></li>-->
<!--                <li class="nav-item"><a class="nav-link text-nowrap" href="?sortBy=dueDate" id="dueDate">Due Date</a></li>-->
<!--                <li class="nav-item"><a class="nav-link" href="?sortBy=owing" id="owing">Owing</a></li>-->
<!--            </ul>-->
            <table class="table">
                <thead class="table-light">
                <tr>
                    <th scope="col" class="nav-item p-0"><a class="nav-link text-nowrap" href="?sortBy=courseCode" id="courseCode">Course Code</a> </th>
                    <th scope="col" class="nav-item p-0"><a class="nav-link" href="?sortBy=title" id="title">Title</a></th>
                    <th scope="col" class="nav-item p-0"><span class="nav-link">Description</span></th>
                    <th scope="col" class="nav-item p-0"><a class="nav-link" href="?sortBy=startDate" id="startDate">Semester</a></th>
                    <th scope="col" class="nav-item p-0"><a class="nav-link text-nowrap" href="?sortBy=dueDate" id="dueDate">Due Date</a></th>
                    <th scope="col" class="nav-item p-0"><a class="nav-link" href="?sortBy=owing" id="owing">Owing</a></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <form action="#" th:action="@{/student/editRegistration}" method="post" id="payForm">
                <tr th:each="regCourse: ${registeredCourses}">
                    <td th:text="${regCourse.section.course.courseNumber}">label</td>
                    <td th:text="${regCourse.section.course.title}"></td>
                    <td th:text="${regCourse.section.course.description}"></td>
                    <td th:text="|${regCourse.section.semester} ${regCourse.section.year}|"></td>
                    <td th:text="${regCourse.dueDate}"></td>
                    <td th:if="${regCourse.paymentRecord}" class="text-success">PAID</td>
                    <td th:unless="${regCourse.paymentRecord}" th:class="${regCourse.isOverDue()}? 'text-danger' : ''" th:text="|$${regCourse.getFee()}|"></td>
                    <td>
                        <input th:unless="${regCourse.paymentRecord}" type="checkbox" class="courseId" name="sectionId" th:value="${regCourse.id}" th:attr="aria-label=|${regCourse.section.course.courseNumber} ${regCourse.section.semester} ${regCourse.section.year}|">
                        <input type="hidden" th:value="${regCourse.getFee()}">
                    </td>
                </tr>
<!--                <tr>-->
<!--                    <td colspan="4"></td>-->
<!--                    <th scope="row" class="text-right">Total</th>-->
<!--                    <td>$</td>-->
<!--                    <td></td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td colspan="3"></td>-->
<!--                    <td colspan="2">-->
<!--                    </td>-->
<!--                    <td colspan="2">-->
<!--                    </td>-->
<!--                </tr>-->
                </form>
                </tbody>
            </table>
            <div class="hstack gap-2 justify-content-end">
                <button type="submit" class="btn btn-danger" name="action" value="delete" form="payForm">Delete</button>
                <input class="form-control-plaintext m-0 p-0" hidden id="total" name="total" form="payForm">
                <button type="submit" class="btn btn-secondary" id="totalBtn" name="action" value="save" form="payForm">Pay</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>