<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/components :: head(~{::title}, ~{}, ~{::script})">
    <title>Registered Courses</title>
    <script>
        $(document).ready(function(){
            $(":checkbox").change(function(){
                var sum = 0;
                $(":checkbox:checked").each(function(){
                    sum += parseFloat($(this).siblings("input").val())
                });
                $("#total").val(sum);
            });
        });
    </script>
</head>
<body>
<div class="container">
    <header th:replace="fragments/components :: header"></header>
    <div th:replace="fragments/studentGeneral.html :: frame(~{::#text})">
        <div id="text">
            <!-- This will be almost a copy of cart with a few exceptions:
                - due date is shown
                - whether or not it's been paid for is shown
                - functionality to pay for it
                - think about adding functionality to do payments in bulk -->
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Course Code</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Semester</th>
                    <th scope="col">Due Date</th>
                    <th scope="col">Price</th>
                    <th scope="col">Payment</th>
                </tr>
                </thead>
                <tbody>
                <form action="#" th:action="@{/student/editRegistration}" method="post">
                <tr th:each="regCourse: ${registeredCourses}">
                    <td th:text="${regCourse.section.course.courseNumber}"></td>
                    <td th:text="${regCourse.section.course.title}"></td>
                    <td th:text="${regCourse.section.course.description}"></td>
                    <td><span th:text="${regCourse.section.semester}"></span> <span th:text="${regCourse.section.year}"></span></td>
                    <td th:text="${regCourse.dueDate}"></td>
                    <td th:if="${regCourse.paymentRecord}">PAID</td>
                    <td th:unless="${regCourse.paymentRecord}">$<span th:text="${regCourse.getFee()}"></span></td>
                    <td>
                        <input type="checkbox" class="courseId" name="sectionId" th:value="${regCourse.id}">
                        <input type="hidden" th:value="${regCourse.getFee()}">
                    </td>
                </tr>
                <tr>
                    <td colspan="4"></td>
                    <th scope="row" class="text-right">Total</th>
                    <td><span class="text-right">$</span></td>
                    <td><input class="form-control-plaintext m-0 p-0" readonly type="text" id="total" name="total"></td>
                </tr>
                <tr>
                    <td colspan="3"></td>
                    <td colspan="2">
                        <button type="submit" class="btn btn-secondary" name="action" value="save">Proceed to Payment</button>
                    </td>
                    <td colspan="2">
                        <button type="submit" class="btn btn-danger" name="action" value="delete">Delete</button>
                    </td>
                </tr>
                </form>
                </tbody>
            </table>

        </div>
    </div>
</div>
</body>
</html>