<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/components :: head(~{::title}, ~{}, ~{::script})">
    <title>Payment History</title>
    <script th:src="@{/scripts/editProfile.js}">
    </script>
</head>
<body>
<div class="container">
    <header th:replace="fragments/components :: header"></header>
    <div th:replace="fragments/studentGeneral.html :: frame(~{::#text})">
        <div id="text">
            <h1>Your Information</h1>
            <th:block th:replace="fragments/editUser :: editProfile(@{/student/changePassword}, false)" />
        </div>
    </div>
</div>
</body>
</html>