<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/components :: head(~{::title}, ~{}, ~{::script})">
    <title>Payment History</title>
    <script>

    </script>
</head>
<body>
<div class="container">
    <header th:replace="fragments/components :: header"></header>
    <div th:replace="fragments/studentGeneral.html :: frame(~{::#text})">
        <div id="text">
            <h1>Your Information</h1>
            <table class="table">
                <tbody>
                <tr>
                    <th scope="row"><label for="firstName">First Name</label></th>
                    <td colspan="2"><input id="firstName" name="firstName" type="text" class="form-control-plaintext" readonly th:field="${user.firstName}"></td>
                    <td><button class="btn btn-secondary" value="firstName">Edit</button></td>
                </tr>
                <tr>
                    <th scope="row"><label for="lastName">Last Name</label></th>
                    <td colspan="2"><input id="lastName" name="lastName" type="text" class="form-control-plaintext" readonly th:field="${user.lastName}"></td>
                    <td><button class="btn btn-secondary" value="lastName">Edit</button></td>
                </tr>
                <tr>
                    <th scope="row"><label for="email">Email</label></th>
                    <td colspan="2"><input id="email" name="email" type="text" class="form-control-plaintext" readonly th:field="${user.email}"></td>
                    <td><button class="btn btn-secondary" value="email">Edit</button></td>
                </tr>
                <tr>
                    <th scope="row"><label for="address">Address </label></th>
                    <td colspan="2"><input id="address" name="address" type="text" class="form-control-plaintext" readonly th:field="${user.address}"></td>
                    <td><button class="btn btn-secondary" value="address">Edit</button></td>
                </tr>
                <tr>
                    <th scope="row"><label for="dob">Date of Birth </label></th>
                    <td colspan="2"><input id="dob" name="dob" type="date" class="form-control-plaintext" readonly th:field="${user.birthdate}"></td>
                    <td><button class="btn btn-secondary" value="birthdate">Edit</button></td>
                </tr>
                <tr>
                    <th scope="row">Reset Password</th>
                    <td><input type="password" class="form-control" placeholder="New password" aria-label="new password"></td>
                    <td><input type="password" class="form-control" placeholder="Confirm new password" aria-label="confirm password"></td>
                    <td><button class="btn btn-secondary" value="password">Save</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>