<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/components :: head(~{::title}, ~{}, ~{::script})">
    <title>Admin Home</title>
    <script>
        function goToReg(id){
            window.location = location.pathname + '?reg=' + id;
        }
        $(document).ready(function(){
            $(".checkbox").click(function(event){
                event.stopPropagation();
            });

            $("#filter").change(function(){
                window.location = "/admin/courseRegistrations/" + $(this).val();
            });

        });
    </script>
</head>
<body>
<div class="container">
    <header th:insert="fragments/components :: header"></header>
    <div th:replace="fragments/adminGeneral.html :: frame(~{:: #text})">
        <div id="text">
            <h1>Registrations</h1>

            <div class="dropdown hstack justify-content-end">
                <select name="filter" id="filter" class="btn btn-primary dropdown-toggle mb-3">
                    <option disabled selected>Filter by</option>
                    <option value="all">All</option>
                    <option value="unpaid">Unpaid</option>
                    <option value="paid">Paid</option>
                    <option value="upcoming">Upcoming / In progress</option>
                    <option value="past">Past</option>
                </select>
            </div>

            <table class="table table-hover">
                <thead class="table-light">
                <tr>
                    <th class="nav-item p-0" colspan="2" scope="col"><a class="nav-link" href="?sortBy=student">Student</a></th>
                    <th class="nav-item p-0" scope="col"><a class="nav-link" href="?sortBy=courseCode">Course Code</a></th>
                    <th class="nav-item p-0" scope="col"><a class="nav-link" href="?sortBy=startDate">Semester</a></th>
                    <th class="nav-item p-0" scope="col"><a class="nav-link" href="?sortBy=dueDate">Due Date</a></th>
                    <th class="nav-item p-0" colspan="2" scope="col"><a class="nav-link" href="?sortBy=datePaid">Payment</a></th>
                </tr>
                </thead>
                <tbody>
                <!---->
                <form action="#" th:action="@{/admin/deleteRegistration}" method="post">
                    <tr th:each="regCourse: ${registeredCourses}" th:id="|reg${regCourse.id}|" th:onclick="|goToReg(${regCourse.id})|">
                        <td><span th:text="${regCourse.user.lastName}"></span>, <span th:text="${regCourse.user.firstName}"></span></td>
                        <td th:text="${regCourse.user.email}"></td>
                        <td th:text="${regCourse.section.course.courseNumber}"></td>
                        <td><span th:text="${regCourse.section.semester}"></span> <span th:text="${regCourse.section.year}"></span></td>
                        <td th:text="${regCourse.dueDate}"></td>
                        <td th:if="${regCourse.paymentRecord}" th:text="|PAID ${regCourse.paymentRecord.paymentDate}|" class="text-success">PAID</td>
                        <td th:unless="${regCourse.paymentRecord}">
                            <span th:if="${regCourse.isOverDue()}" class="text-danger">OVERDUE</span>
                            <span th:unless="${regCourse.isOverDue()}">OUTSTANDING</span>
                        </td>
                        <td class="checkbox">
                            <input type="checkbox" class="courseId" name="sectionId" th:value="${regCourse.id}">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6"></td>
                        <td>
                            <button type="submit" class="btn btn-danger">Delete</button>
<!--                            <button type="submit" class="btn btn-secondary" name="action" value="save">Proceed to Payment</button>-->
                        </td>
                    </tr>
                </form>
                </tbody>
            </table>
        </div>
    </div>
    <div th:if="${singleCourse}" class="card w-auto position-absolute top-50 start-50 translate-middle">
            <h4 class="card-header" th:text="|${singleCourse.user.lastName}, ${singleCourse.user.firstName}|"></h4>
            <div class="card-body">
                <h5 class="card-title" th:text="|${singleCourse.section.course.courseNumber} - ${singleCourse.section.semester} ${singleCourse.section.year}|"></h5>
                <h6 class="text-danger card-subtitle" th:if="${singleCourse.isOverDue()}">OVERDUE</h6>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h6>Student:</h6>
                        <ul class="list-group">
                            <li class="list-group-item" th:text="|Email: ${singleCourse.user.email}|"></li>
                        </ul>
                    </li>
                    <li class="list-group-item">
                        <h6>Payment:</h6>
                        <ul class="list-group">
                            <li class="list-group-item" th:text="|Owing: ${singleCourse.getFee()}|"></li>
                            <li class="list-group-item">Payment: <span th:text="${singleCourse.paymentRecord}? ${singleCourse.paymentRecord.paymentDate} : 'OUTSTANDING'"></span></li>
                            <li class="list-group-item" th:text="|Due: ${singleCourse.dueDate}|"></li>
                        </ul>
                    </li>
                    <li class="list-group-item">
                        <h6>Course:</h6>
                        <ul class="list-group">
                            <li class="list-group-item" th:text="|Title: ${singleCourse.section.course.title}|"></li>
                            <li class="list-group-item" th:text="|Description: ${singleCourse.section.course.description}|"></li>
                            <li class="list-group-item">Prerequisite: <span th:text="${singleCourse.section.course.prereq}? ${singleCourse.section.course.prereq.courseNumber} : 'NONE'"></span></li>
                        </ul>
                    </li>
                    <!-- Going to want to add course title, description, prerequisites-->
                </ul>
<!--                <a th:href="@{courseRegistrations}" class="btn btn-secondary">Close</a>-->
                <a href="javascript:window.location=location.pathname" class="btn btn-secondary">Close</a>
            </div>
    </div>
</div>
</body>
</html>


