<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/components :: head(~{::title}, ~{}, ~{})">
  <title>Sections</title>
</head>
<body>
<div class="container">
  <header th:replace="fragments/components :: header"></header>
  <div th:replace="fragments/adminGeneral :: frame(~{::#text})">
    <div id="text" class=" p-3">
      <h2>Sections</h2>
      <div class="row">
        <form class="d-flex pb-2">
          <div class="dropdown col-4 align-content-end">
            <select name="sort" id="sort" class="btn btn-outline-primary dropdown-toggle">
              <option disabled selected>Filter by</option>
              <option value="semester">Semester</option>
              <option value="year">Year</option>
              <option value="disabled">Disabled</option>
              <option value="course">Course</option>
            </select>
          </div>
          <input class="form-control me-2" type="search" id="searchVal" placeholder="Search">
          <button class="btn btn-outline-success col-auto" onclick="searchSections()" type="button">Fetch Results</button>
        </form>
      </div>
<!--      <form class="d-flex pb-2">-->
<!--        <input class="form-control me-2" type="search" id="searchVal" placeholder="Search" aria-label="Search">-->
<!--        <button class="btn btn-outline-success" onclick="searchSections()" type="button">Search</button>-->
<!--      </form>-->
      <div id="searchResults">
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready( function() {
    searchSections();
  })
  function searchSections() {
    let sortBy = $("#sort").val();
    if(sortBy == null) {
      sortBy = "course";
    }
    let url = '/api/allSections?sortBy=' + sortBy;
    if ($('#searchVal').val() != '') {
      url = url + "&searchVal=" + $('#searchVal').val();
    }
    console.log(url);
    $("#searchResults").load(url);
    console.log("should have loaded")
  }

  function displaySection(id) {
    let url = '/admin/singleSection/' + id;
    $("#singleSection").load(url);
  }
</script>
</body>
</html>
