<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/components :: head(~{::title}, ~{}, ~{::script})">
  <title>Admin Home</title>
  <script>
    $(document).ready(function (){
      let params = new URLSearchParams(location.search);
      $("#" + params.get("sortBy")).parent().addClass("table-active");
    });
  </script>
</head>
<body>
<div class="container">
  <header th:insert="fragments/components :: header"></header>
  <div th:replace="fragments/adminGeneral :: frame(~{:: #text})">
    <div id="text">
      <h1>All Users</h1>
      <table class="table">
        <thead class="table-light">
        <tr>
          <th scope="col" class="nav-item p-0"><a href="?sortBy=id" id="id" class="nav-link">ID</a></th>
          <th scope="col" class="nav-item p-0"><a href="?sortBy=firstName" id="firstName" class="nav-link text-nowrap">First Name</a></th>
          <th scope="col" class="nav-item p-0"><a href="?sortBy=lastName" id="lastName" class="nav-link text-nowrap">Last Name</a></th>
          <th scope="col" class="nav-item p-0"><a href="?sortBy=email" id="email" class="nav-link">Email</a></th>
          <th scope="col" class="nav-item p-0"><a href="?sortBy=address" id="address" class="nav-link">Address</a></th>
          <th scope="col" class="nav-item p-0"><a href="?sortBy=birthdate" id="birthdate" class="nav-link text-nowrap">Date of Birth</a></th>
          <th scope="col" class="nav-item p-0"><a href="?sortBy=role" id="role" class="nav-link">Role</a></th>
        </tr>
        </thead>
        <tbody>
          <tr th:each="user : ${userList}" th:id="|user${user.id}|">
            <td th:text="${user.id}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.address}"></td>
            <td th:text="${user.birthdate}"></td>
            <td th:text="${user.role}"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
</html>
