<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<!--<header th:fragment="header">-->
<!--  <div class="container">-->
<!--    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">-->
<!--      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">-->
<!--        <span class="fs-4">UniLog</span>-->
<!--      </a>-->
<!--      <ul class="nav nav-pills">-->
<!--        <li class="nav-item"><a th:href="@{/admin/home}" class="nav-link">Home</a></li>-->
<!--        <li class="nav-item"><a class="nav-link" href="javascript: document.logoutForm.submit()">Sign out</a><form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">-->
<!--          <input hidden class="btn-primary" type="submit" value="Sign Out" />-->
<!--        </form></li>-->
<!--      </ul>-->
<!--    </header>-->
<!--  </div>-->
<!--</header>-->

<div th:fragment="frame(text)" class="row">
  <aside class="col-3">
    <div class="p-3 bg-light">
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item"></li>
      </ul>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a th:href="@{/admin/newCourse}" class="nav-link">
            Add Courses
          </a>
        </li>
        <li>
          <a th:href="@{/admin/courses}" class="nav-link">
            View Courses
          </a>
        </li>
        <li>
          <a th:href="@{/admin/sections}" class="nav-link">
            View Sections
          </a>
        </li>
        <li>
          <a th:href="@{/admin/registrations}" class="nav-link">
            View Registrations
          </a>
        </li>
        <li>
          <a th:href="@{/admin/outstanding}" class="nav-link">
            View Outstanding Payments
          </a>
        </li>
      </ul>
      <hr>
    </div>
  </aside>
  <main class="col-9" th:insert="${text}"></main>
</div>


<div th:fragment="singleCourse" th:object="${singleCourse}">
  <div class="card">
    <div class="card-body bg-light">
      <h4 class="text-center text-primary" th:text="${singleCourse.courseNumber}"></h4>
      <p class="fw-bold text-center text-primary" th:text="${singleCourse.title}"></p>
      <p th:text="${singleCourse.description}"></p>
      <p>Price: $<span th:text="${singleCourse.price}"></span> </p>
      <p th:if="${singleCourse.prereq}">Prerequisite Course: <span  th:text="${singleCourse.prereq.courseNumber}"></span> </p>

      <a class="btn-secondary btn text-light fw-bold float-end m-3" id="edit" th:href="@{/admin/updateCourse/{id}(id=${singleCourse.courseNumber})}">Edit Course</a>
    </div>
  </div>
</div>


</body>
</html>