<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="head(title, links, scripts)">
    <meta charset="UTF-8">
    <title th:replace="${title}">UniLog</title>
    <!-- Bootstrap CSS -->
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/styles/bootstrap.css}">
    <style>
        #uniLogo {
            content: url("../images/UniLog.png");
            height: 3em;
            margin: 0;
            padding: 0;
        }
    </style>
    <th:block th:replace="${links}"/>
    <!-- JQuery -->
    <script th:src="@{/webjars/jquery/3.6.0/jquery.js}"></script>
    <!-- Bootstrap Javascript -->
    <script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <th:block th:replace="${scripts}"/>
</head>
<body>
    <header th:fragment="header" class="d-flex flex-wrap justify-content-center align-items-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 ms-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <span class="fs-4" id="uniLogo" name="uniLogo">UniLog</span>
        </a>
        <ul class="nav nav-pills">

            <!-- Home button -->
            <li class="nav-item">
                <a sec:authorize="isAuthenticated()" th:href="@{/home}" class="nav-link active">Home</a>
                <a sec:authorize="isAnonymous()" th:href="@{/}" class="nav-link active">Home</a>
            </li>

            <!-- Other Nav Items -->
            <li sec:authorize="hasAuthority('STUDENT')" class="nav-item"><a th:href="@{/student/paymentHistory}" class="nav-link">Student Details</a></li>
            <li sec:authorize="isAnonymous()" class="nav-item"><a th:href="@{/register}" class="nav-link">Register</a></li>

            <!-- Sign In/Out button -->
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <button class="nav-link" form="logoutForm">Sign Out</button>
                <form name="logoutForm" id="logoutForm" th:action="@{/logout}" method="post" th:hidden="true"></form>
            </li>
            <li class="nav-item" sec:authorize="isAnonymous()">
                <a class="nav-link" th:href="@{/login}">Sign In</a>
            </li>
        </ul>
    </header>


    <div th:fragment="resultsList" th:unless="${#lists.isEmpty(listCourses)}" id="results-block">
        <div class="row">
            <div class="col-5">
                <div class="list-group-item list-group-item-action" th:each="course : ${listCourses}" th:attr="onclick=|displayCourse('${course.courseNumber}')|" >
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1" th:text="${course.courseNumber}"></h5>
                        <!--        <small>3 days ago</small>-->
                    </div>
                    <p class="mb-1" th:text="${course.title}"></p>
                    <p class="mb-1" th:text="${course.description}"></p>
                    <!--                <small th:text="${course.price}"></small>-->
                </div>
            </div>
            <div class="col-7">
                <div id="singleCourse"></div>
            </div>
        </div>
    </div>

    <div th:fragment="sectionsList" th:unless="${#lists.isEmpty(listSections)}" >
        here
        <div class="row">
            <div class="col-5">
                <div class="list-group-item list-group-item-action" th:each="section : ${listSections}" th:attr="onclick=|displaySection('${section.id}')|" >
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1" th:text="${section.course.courseNumber}"></h5>
                        <!--        <small>3 days ago</small>-->
                    </div>
                    <p class="mb-1" th:text="${section.course.title}"></p>
                    <p class="mb-1" >Seats Available: <span th:text="${section.seatsAvailable}"></span></p>
                    <p class="mb-1">Semester: <span th:text="${section.semester}"></span> <span th:text="${section.year}"></span></p>
                                    <small th:text="${section.course.price}"></small>
                </div>
            </div>
            <div class="col-7">
                <div id="singleSection"></div>
            </div>
        </div>
    </div>

<footer>
    <div sec:authorize="hasRole('ADMIN')">
        Logged in Admin
    </div>
    <div sec:authorize="hasRole('STUDENT')">
        Logged in Student
    </div>
    <div sec:authorize="isAnonymous()">
        Logged out User
    </div>
</footer>
</body>
</html>