<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<header th:fragment="header">
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <span class="fs-4">UniLog</span>
            </a>
            <ul class="nav nav-pills">
                <li class="nav-item"><a th:href="@{/student/home}" class="nav-link active">Home</a></li>
                <li class="nav-item"><a th:href="@{/student/paymentHistory}" class="nav-link">Student Details</a></li>
                <li class="nav-item"><a class="nav-link" href="javascript: document.logoutForm.submit()">Sign out</a><form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                    <input hidden class="btn-primary" type="submit" value="Sign Out" />
                </form></li>
            </ul>
        </header>
    </div>
</header>-->

<div th:fragment="frame(text)" class="row">
    <aside class="col-3">
        <div class="p-3 bg-light">
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <div th:if="${deleteMsg}" class="alert alert-warning alert-dismissible fade show" role="alert">
                        <span th:text="${deleteMsg}"></span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </li>
                <li class="nav-item"><div th:if="${message}" class="alert alert-success alert-dismissible fade show" role="alert">
                    <span th:text="${message}"></span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div></li>
                <li><p>Logged in as <span th:text="${#authentication.name}"></span></p></li>
                <li class="nav-item">
                    <div th:if="${dangerMessage}" class="alert alert-danger alert-dismissible fade show" role="alert">
                        <span th:text="${dangerMessage}"></span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </li>
            </ul>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li>
                    <a th:href="@{/student/cart}" class="nav-link">
                        Course cart
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/student/availableCourses}" class="nav-link">
                        View all courses
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/student/availableSections}" class="nav-link">
                        View all sections
                    </a>
                </li>
                <li>
                    <a th:href="@{/student/paymentHistory}" class="nav-link">
                        Payments
                    </a>
                </li>
                <li>
                    <a th:href="@{/student/registeredCourses}" class="nav-link">
                        Registered courses
                    </a>
                </li>
            </ul>
            <hr>
        </div>
    </aside>
    <main class="col-9" th:insert="${text}"></main>
</div>




<div th:fragment="singleCourse" th:object="${singleCourse}">
    <div class="card">
        <div class="card-body bg-light">
            <h4 class="text-center text-primary" th:text="${singleCourse.courseNumber}"></h4>
            <p class="fw-bold text-center text-primary" th:text="${singleCourse.title}"></p>
            <p th:text="${singleCourse.description}"></p>
            <p>Price: $<span th:text="${singleCourse.price}"></span> </p>
            <p th:if="${singleCourse.prereq}">Prerequisite Course: <span  th:text="${singleCourse.prereq.courseNumber}"></span> </p>
            <a th:href="@{/student/sections/{id}(id=${singleCourse.courseNumber})}" class="btn-primary btn">View Sections for this course</a>

        </div>
    </div>
</div>

<div th:fragment="singleSection" th:object="${singleSection}">
    <div class="card">
        <div class="card-body bg-light">
            <h4 class="text-center text-primary" th:text="${singleSection.course.courseNumber}"></h4>
            <p class="fw-bold text-center text-primary" th:text="${singleSection.course.title}"></p>
            <p>Semester: <span th:text="${singleSection.semester}"></span> <span th:text="${singleSection.year}"></span></p>
            <!--      <p>Price: $<span th:text="${singleCourse.price}"></span> </p>-->
            <!--      <p th:if="${singleCourse.prereq}">Prerequisite Course: <span  th:text="${singleCourse.prereq.courseNumber}"></span> </p>-->

            <a class="btn-secondary btn text-light fw-bold float-end" th:href="@{/student/addToCart/{id}(id=${singleSection.id})}" >Add to Course Cart</a>
        </div>
    </div>
</div>

</body>
</html>