<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="frame(text)" class="row">
    <aside class="col-3">
    <div class="p-3 bg-light">
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item"><h4 th:text="${message}"></h4></li>
            <li><h4 th:text="${#authentication.name}"></h4></li>
            <li>This is supposed to be a name, but I can't figure out how to get it.</li>
        </ul>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a th:href="@{/student/availableCourses}" class="nav-link">
                    View all courses
                </a>
            </li>
            <li>
                <a th:href="@{/student/paymentHistory}" class="nav-link">
                    Payments
                </a>
            </li>
            <li>
                <a th:href="@{/student/registeredCourses}" class="nav-link">
                    Registered courses
                </a>
            </li>
            <li>
                <a th:href="@{/student/cart}" class="nav-link">
                    Course cart
                </a>
            </li>
        </ul>
        <hr>
    </div>
</aside>
<main class="col-9" th:insert="${text}"></main>
</div>

</body>
</html>