<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/components :: head(~{::title}, ~{}, ~{})">
    <title>Log In</title>
</head>
<body>
<div class="container">
<header th:insert="fragments/components.html :: header"></header>
<div class="container p-4">
    <div th:if="${param.error}">Invalid username and password</div>
    <form method="post" action="#" th:action="@{/login}" class="form">

        <div class="row justify-content-around">
            <div class="col-3 p-3 text-end">Email Address:</div>
            <div class="col-5 p-3"><input type="email" name="username" id="username" class="form-control"></div>
        </div>

        <div class="row justify-content-around">
            <div class="col-3 p-3 text-end"> <label class="form-label">Password: </label></div>
            <div class="col-5 p-3"><input type="password" id="password" class="form-control" name="password"></div>
        </div>

        <div class="row justify-content-center">
            <input class="btn-secondary btn col-auto" type="submit" value="Login">
        </div>
    </form>
    <a th:href="@{/recoverPassword}">Forgot Password? Recover it here</a>
</div>
</div>
</body>
</html>