<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/components :: head(~{::title}, ~{}, ~{})">
  <title>Recover Password</title>
</head>
<body>
<div class="container">
  <header th:insert="fragments/components.html :: header"></header>
  <div class="container p-4">
    <h4>Recover Password</h4>
    <div th:if="${message}" class="alert alert-success alert-dismissible fade show col-auto" role="alert">
      <span th:text="${message}"></span>
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    <div th:if="${form}">
    <form method="post" action="#" th:action="@{/passwordReset}" th:object="${form}" class="form" >
      <div class="row justify-content-around">
        <div class="col-3 p-3 text-end">Email Address</div>
        <div class="col-5 p-3"><input readonly th:field="*{email}" class="form-control disabled"></div>
      </div>
      <div class="row justify-content-around">
        <div class="col-3 p-3 text-end">Enter your new password</div>
        <div class="col-5 p-3"><input type="password" th:field="*{password}" class="form-control"></div>
      </div>
      <div class="row justify-content-around">
        <div class="col-3 p-3 text-end">Repeat your new password</div>
        <div class="col-5 p-3"><input type="password" th:field="*{passwordMatch}" class="form-control"></div>
      </div>
      <input type="hidden" readonly name="uuid" th:value="${form.uuid}">
      <div class="row justify-content-center">
        <input class="btn-outline-primary btn col-auto" type="submit" value="Recover password">
      </div>
    </form>
    </div>

  </div>
</div>
</body>
</html>